@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen leading-[1.7] text-textAccent1;
}

* {
  @apply p-0 m-0 box-border tracking-tight antialiased list-none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-[#000] font-[600];
}

.loader {
  width: 25px;
  height: 25px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
